In [2]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [3]:
df_name = ['sepal length',
           'sepal width',
           'petal length',
           'petal width',
           'class']
df_origin = pd.read_csv('dataset/iris.data', names=df_name)

df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
# Preprocessing
# Copy dataset
df = df_origin.copy()

# Delete class (species)
df.drop(columns='class', inplace=True)

df

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
# Instantiate the KMeans models
km = KMeans(n_clusters=4, random_state=42)

# Fit the KMeans model
km.fit_predict(df)

# Calculate Silhouette Score
score = silhouette_score(df, km.labels_, metric="euclidean")

print(score)